#main2{

  height:100vh;
  background-color:aqua;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

body{
  margin:0;
  padding:0;
  background-color:black;
}
#head2 {
width:100%;
background-color: blue;
}

.header {
  text-align: center;
  width: 100%;
  background-image: linear-gradient( 129.1deg,  rgba(243,199,83,1) 26.8%, rgba(18,235,207,1) 114.1% );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 200;
  background-color:yellowgreen;
  margin-bottom:50px;
height:60px;
}

.moddel{
  margin-top: 10px;
margin-right:20px;
  float:right;
  width:30px;
  height:30px;
 border:none;
 border-radius:10px;

}
.moddel:hover{
  color:#cf2610;
  background-color: #0eddcd;
  cursor:pointer;
}





.main{
    border-collapse: collapse;
          
}



.wasnt{
  padding:20px 40px 20px 40px;

margin-left:10px;
border-radius: 5px;
background-color:yellow;
font-size:15px;
font-weight:bold;
margin-left:80%;



}

.wasnt:hover{

  background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
cursor: pointer;
  border:0.5px solid rgb(49, 133, 108);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#secondsection{
  display: grid;
  grid-template-rows: 10vh auto;
 
}


#secondsectionfirstpart{
  margin:5px;
}

.content {
margin-top:80px;


 
  width:20%;
  height:40%;
margin-left:70%;
background-color:yellow;

}

.collapsible {
 
  background-color: #15a69a;
  background-image: url("1.jpg");
  background-size: 100px 150px;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin-top:20%;
  width: 10%;
  height:60%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left:10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}


.logout{
  
  
height:80%;
width:120px;
float:left;
border:1px solid rgb(92, 185, 228);
border-radius: 5px;
margin-top:35%;
}

.logout:hover{
  background-image: linear-gradient( 90.4deg,  rgba(255,220,163,1) 21.2%, rgba(129,255,239,1) 90.7% );
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor:pointer;
  color:red;
  border-radius: 5px;
}

h2{
  color:white;
  margin-left:40%;
  width:200px;
  font-size:40px;
}